html {
    background-color: white;
    width: 100%;
    height: max-content;
}

body{
    background-color: white;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;

}

.nav-item {
    font-family: "Calibri Light";
    font-size: 20px;
}

.h1 {
font-size: 30px;
}

.h2 {
    font-size: 20px;
    justify-content: center;
}

@media (max-width: 576px) {
    .responsive-header {
        font-size: 6vw; /* Adjust the value as needed */
    }
}

#slideshow {
    float: right;
    margin-right: auto;
    width: 100%;
}

.carousel-inner {
    height: 0;
    padding-bottom: 25%;
}

.carousel-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-image {
    height: 100%;
    object-fit: cover; /* Optional: To maintain aspect ratio and fill the container */
    /* vertical-align: top */
    /*object-position: bottom;*/
}

.carousel {
    flex: 1;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
    font-family: Calibri;
    font-size: 15px;
}

th,
td {
    padding: 10px;
    border: none;
}

.btn {
    background-color: #c59053;
    font-size: 15px;
}

#bottom-add {
    align-content: center;
}

footer.container {
    height: 30px;
    background-color: #efede8;
}



