<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Header</title>

</head>

<header th:fragment="header">
  <h1>THE NATURAL DYE WORKSHOP</h1>



    <div id="slideshow" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../images/ephemeral.png" class="d-block w-100 carousel-image" alt="Image 1">
        </div>
        <div class="carousel-item">
          <img src="../images/ephemereal1.png" class="d-block w-100 carousel-image" alt="Image 2">
        </div>
        <div class="carousel-item">
          <img src="../images/ephemeral.png" class="d-block w-100 carousel-image" alt="Image 3">
        </div>
      </div>
    </div>
  </header>

</html>